In [1]:
velosiped = [ "trek", "cannondale", "redline", "specialized"]
print(velosiped)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
velosiped = [ "trek", "cannondale", "redline", "specialized"]
print(velosiped[0])

trek

In [3]:
velosiped = [ "trek", "cannondale", "redline", "specialized"]
print(velosiped[0].title())

Trek

In [4]:
velosiped = [ "trek", "cannondale", "redline", "specialized"]
print(velosiped[1])
print(velosiped[3])

cannondale
specialized

In [5]:
velosiped = [ "trek", "cannondale", "redline", "specialized"]
print(velosiped[-2])

redline

In [6]:
temp = "AI Class"
temp2 = f"hello{temp} !!!"
print(temp2)

helloAI Class !!!

In [7]:
velosiped = [ "trek", "cannondale", "redline", "specialized"]
mesaj = f"Menim ilk velosipedim {velosiped[0].title()}."
print(mesaj)

Menim ilk velosipedim Trek.

In [9]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = "ducati"
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append("ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [12]:
motorcycles = []
motorcycles.append("honda")
motorcycles.append("suzuki")
motorcycles.append("yamaha")
print(motorcycles)

['honda', 'suzuki', 'yamaha']

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, "ducati")
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [15]:
motosiklet = ["nk200", "m50", "s150"]
motosiklet.insert(1, "rs200")
print(motosiklet)

['nk200', 'rs200', 'm50', 's150']

In [17]:
tek_ededler = [1, 3, 5, 7, 9]
tek_ededler.insert(4, 11)
print(tek_ededler)

[1, 3, 5, 7, 11, 9]

In [18]:
tek_ededler = [1, 3, 5, 7, 9]
print(tek_ededler)
del tek_ededler[4]
print(tek_ededler)

[1, 3, 5, 7, 9]
[1, 3, 5, 7]

In [19]:
tek_ededler = [1, 3, 5, 7, 9]
print(tek_ededler)
del tek_ededler[3]
print(tek_ededler)

[1, 3, 5, 7, 9]
[1, 3, 5, 9]

In [22]:
tek_ededler = [1, 3, 5, 7, 9]
print(tek_ededler)

poped_tek_eded = tek_ededler.pop()
print(tek_ededler)
print(poped_tek_eded)

[1, 3, 5, 7, 9]
[1, 3, 5, 7]
9

In [23]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [24]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print(f"The last motorcycles i owned was a {last_owned.title()}.")

The last motorcycles i owned was a Suzuki.

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop(1)
print(f"The last motorcycles i owned was a {last_owned.title()}.")

The last motorcycles i owned was a Yamaha.

In [29]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.remove("suzuki")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']

In [32]:
motorcycles = ["honda", "honda", "yamaha", "suzuki"]
print(motorcycles)
motorcycles.remove("honda")
print(motorcycles)

['honda', 'honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki']

In [33]:
motorcycles = ["honda", "honda", "yamaha", "suzuki"]
motorcycles.sort()
print(motorcycles)

['honda', 'honda', 'suzuki', 'yamaha']

In [35]:
motorcycles = ["honda", "honda", "yamaha", "suzuki"]
motorcycles.sort(reverse=True)
print(motorcycles)

['yamaha', 'suzuki', 'honda', 'honda']

In [37]:
motorcycles = ["honda", "honda", "yamaha", "suzuki"]
sorted_motorcycles = sorted(motorcycles)
print(motorcycles)
print(sorted_motorcycles)

['honda', 'honda', 'yamaha', 'suzuki']
['honda', 'honda', 'suzuki', 'yamaha']

In [38]:
motorcycles = ["honda", "honda", "yamaha", "suzuki"]
print(motorcycles)
motorcycles.reverse()
print(motorcycles)

['honda', 'honda', 'yamaha', 'suzuki']
['suzuki', 'yamaha', 'honda', 'honda']

In [39]:
motorcycles = ["honda", "honda", "yamaha", "suzuki"]
len(motorcycles)

4

In [40]:
a = "one-two-three-four-five"

# sətirləri ayırın və siyahıda saxlayın
lst = a.split(sep='-', maxsplit=-1)
print('The list is:', lst)

The list is: ['one', 'two', 'three', 'four', 'five']

In [43]:
a = "bir iki uc dord bes"
lst = a.split(sep = " ", maxsplit = -1)
print(lst)

['bir', 'iki', 'uc', 'dord', 'bes']

In [45]:
a = ["bir", "iki", "uc", "dord", "bes"]
b = ["alti", "yeddi", "sekkiz", "doqquz"]

a.extend(b)
print(a)

['bir', 'iki', 'uc', 'dord', 'bes', 'alti', 'yeddi', 'sekkiz', 'doqquz']

In [46]:
a+b

['bir',
 'iki',
 'uc',
 'dord',
 'bes',
 'alti',
 'yeddi',
 'sekkiz',
 'doqquz',
 'alti',
 'yeddi',
 'sekkiz',
 'doqquz']

In [47]:
a = ["bir", "iki", "uc", "dord", "bes"]
a.reverse()
print(a)

['bes', 'dord', 'uc', 'iki', 'bir']

In [49]:
reversed_a = list(reversed(a))
print(reversed_a)

['bir', 'iki', 'uc', 'dord', 'bes']

In [53]:
List = ['A', 'R', 'T', 'I', 'F', 'I',
        'C', 'I', 'A', 'L', 'I', 'N', 'T',
        'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']
print("Initial List: ")
print(List)

Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

Initial List:
['A', 'R', 'T', 'I', 'F', 'I', 'C', 'I', 'A', 'L', 'I', 'N', 'T', 'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']

Slicing elements in a range 3-8:
['I', 'F', 'I', 'C', 'I']

In [54]:
List = ['A', 'R', 'T', 'I', 'F', 'I',
        'C', 'I', 'A', 'L', 'I', 'N', 'T',
        'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']
print("Initial List: ")
print(List)

Sliced_List = List[:]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

Initial List:
['A', 'R', 'T', 'I', 'F', 'I', 'C', 'I', 'A', 'L', 'I', 'N', 'T', 'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']

Slicing elements in a range 3-8:
['A', 'R', 'T', 'I', 'F', 'I', 'C', 'I', 'A', 'L', 'I', 'N', 'T', 'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']

In [56]:
List = ['A', 'R', 'T', 'I', 'F', 'I',
        'C', 'I', 'A', 'L', 'I', 'N', 'T',
        'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']
print("Initial List: ")
print(List)

Sliced_List = List[:-2]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

Initial List:
['A', 'R', 'T', 'I', 'F', 'I', 'C', 'I', 'A', 'L', 'I', 'N', 'T', 'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']

Slicing elements in a range 3-8:
['A', 'R', 'T', 'I', 'F', 'I', 'C', 'I', 'A', 'L', 'I', 'N', 'T', 'E', 'L', 'L', 'I', 'G', 'E', 'N']

In [58]:
cars1 = ['bmw', 'audi', 'toyota', 'subaru']
cars2 = cars1.copy()

cars2[0] = 'mercedes'
print(cars1 == cars2)
print(cars1)

False
['bmw', 'audi', 'toyota', 'subaru']

In [59]:
List = ["A", "R", 'T', 'I', 'F', 'I',
        'C', 'I', 'A', 'L', 'I', 'N', 'T',
        'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']
print("Initial List: ")
print(List)

List.count('A')

Initial List:
['A', 'R', 'T', 'I', 'F', 'I', 'C', 'I', 'A', 'L', 'I', 'N', 'T', 'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']

2

In [60]:
List = [[1,2,3,[4,5,6,7],8,9], [12,13,[14,15,[16,17],18],19,20], [21,[22,[23,[24,[25],26],27],28],29]]
List[::2]

[[1, 2, 3, [4, 5, 6, 7], 8, 9], [21, [22, [23, [24, [25], 26], 27], 28], 29]]

In [61]:
List[1][2][2][0]

16

In [62]:
#Meyvə siyahısındakı hər bir meyvəni çap edin:

fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print("I like",i)

I like apple
I like banana
I like cherry

In [63]:
meyve = ["alma", "heyva", "nar"]

for a in meyve:
    print("men bunlari yemeyi sevirem", a)

men bunlari yemeyi sevirem alma
men bunlari yemeyi sevirem heyva
men bunlari yemeyi sevirem nar

In [67]:
meyveler = ["alma", "heyva", "nar"]  # düzgün dəyişən adı

print(meyveler[0].title())  # nəticəni görmək üçün print lazımdır

for meyve in meyveler:
    print(f"{meyve.title()}, əla meyvedir")

NameError: name 'meyveler' is not defined

In [68]:
magicians = ['alice', 'david', 'carolina']
magicians[0].title()

'Alice'

In [69]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick! 1 ")
    print(f"{magician.title()}, that was a great trick! 2 ")
    print(magician.title(), ", that was a great trick! 3 ")

Alice, that was a great trick! 1
Alice, that was a great trick! 2
Alice , that was a great trick! 3
David, that was a great trick! 1
David, that was a great trick! 2
David , that was a great trick! 3
Carolina, that was a great trick! 1
Carolina, that was a great trick! 2
Carolina , that was a great trick! 3

In [70]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [71]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [73]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [74]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(magician)

SyntaxError: expected ':' (831980183.py, line 2)

In [75]:
A = ["alma", "heyva", "nar"]

for value in range(len(A)):
 print(value)

0
1
2

In [76]:
new_list = [1,2,3]
print(type(new_list))

<class 'list'>

In [77]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [78]:
even_numbers = list(range(2, 12, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [79]:
squares = []

for value in range(1, 11):
  square = value ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [82]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [83]:
max(digits)

9

In [84]:
sum(digits)

45

In [85]:
sum(digits)/len(digits)

4.5

In [86]:
cubes = [ num**3 for num in range(1,6) ]
print(cubes)

[1, 8, 27, 64, 125]

In [87]:
squares = []

for value in range(1, 11):
    square = str(value**2)
    squares.append(square)

print(squares)

['1', '4', '9', '16', '25', '36', '49', '64', '81', '100']

In [88]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")

for player in players[:3]:
 print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [89]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods.copy()
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [90]:
print(id(my_foods))
id(friend_foods)

2286145442944

2286146531392

In [91]:
friend_foods is my_foods

False

In [92]:
my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [93]:
my_foods = ['pizza', 'falafel', 'carrot cake']

# Bu işləmir:
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

In [94]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [1]:
dimensions = (200, 50)
dimensions = (250, dimensions[1])  # create a new tuple with modified value
print(dimensions)

(250, 50)

In [96]:
my_t = (3,)

In [97]:
print(len(my_t))
print(type(my_t))

1
<class 'tuple'>

In [98]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

In [99]:
dimensions = (200, 50)

print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
print(f"1st place {id(dimensions)}")

dimensions = (400, 100)

print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)
print(f"2nd place {id(dimensions)}")

Original dimensions:
200
50
1st place 2286145870656

Modified dimensions:
400
100
2nd place 2286145894656

In [100]:
# Kublar (Cubes):
# Ədədin üçüncü dərəcə qüvvəti kub adlanır. Məsələn,
# 2-nin kubu Python-da 2**3 kimi yazılır. İlk 10 kubun siyahısını yaradın (yəni,
# 1-dən 10-a qədər hər bir tam ədədin kubu) və hər bir kubun dəyərini çap etmək üçün
# "for" döngüsündən istifadə edin.


cubes = []

for i in range(1,11):
    cube = i**3
    cubes.append(cube)
    
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
meyveler = ["alma", "heyva", "nar"]
meyveler[0].title()

for meyve in meyveler:
    print(f"{meyve.title()}, ela meyvedir! ")
    print(f"{meyve.title()}, ela meyvedir! ")
    print(f"{meyve.title()}, ela meyvedir! ")

Alma, ela meyvedir!
Alma, ela meyvedir!
Alma, ela meyvedir!
Heyva, ela meyvedir!
Heyva, ela meyvedir!
Heyva, ela meyvedir!
Nar, ela meyvedir!
Nar, ela meyvedir!
Nar, ela meyvedir!

In [5]:
magicians = ['alice', 'david', 'carolina']
magicians[0].title()
for magician in magicians:
    print(f"{magician.title()}, that was a great trick! 1 ")
    print(f"{magician.title()}, that was a great trick! 2 ")
    print(magician.title(), ", that was a great trick! 3 ")

Alice, that was a great trick! 1
Alice, that was a great trick! 2
Alice , that was a great trick! 3
David, that was a great trick! 1
David, that was a great trick! 2
David , that was a great trick! 3
Carolina, that was a great trick! 1
Carolina, that was a great trick! 2
Carolina , that was a great trick! 3

In [6]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [7]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [8]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [9]:
A = ["alma", "heyva", "nar"]

for value in range(len(A)):
 print(value)

0
1
2

In [10]:
new_list = [1,2,3]
print(type(new_list))

<class 'list'>

In [11]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")

for player in players[:3]:
 print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [12]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

for player in players:
    if player == "charles":
        print(player.upper())

CHARLES

In [14]:
requested_topping = "mushrooms"
requested_topping != "anchovies"

True

In [15]:
nums = [1, 4, 7, 10, 13, 16]

for in nums:

SyntaxError: invalid syntax (522279303.py, line 3)

In [16]:
nums = [1, 4, 7, 10, 13, 16]

for in nums:

SyntaxError: invalid syntax (856814615.py, line 3)