In [3]:
# --- 1: Find min and max in a set
# This finds the smallest and largest items in the set 'a'.
a = {1, 2, 3, 4, 6, 9}
print(min(a))
print(max(a))

1
9

In [35]:
# --- 2: Add element to a set
# Sets don't preserve order or indices; use .add() to include a new element.
animal = {"dog", "cat", "fish"}
add_animal = "bear"
animal.add(add_animal)
print(animal)

{'cat', 'bear', 'dog', 'fish'}

In [3]:
# --- 3: Sum ages from a nested list (explicit indexing)
# Access each student's age by index and sum them.
students = [
    ["Ali", 20, "Baku"],
    ["Leyla", 22, "Ganja"],
    ["Rauf", 19, "Sumqayit"]
]
yas_cemi = students[0][1] + students[1][1] + students[2][1]
print(yas_cemi)

61

In [4]:
# --- 4: (Same as 3) Repeated block — same explanation applies
# Again: sum ages from nested list.
students = [
    ["Ali", 20, "Baku"],
    ["Leyla", 22, "Ganja"],
    ["Rauf", 19, "Sumqayit"]
]
yas_cemi = students[0][1] + students[1][1] + students[2][1]
print(yas_cemi)

61

In [5]:
# --- 5: Create a mirrored list
# Concatenate the list with its reversed copy to get a mirrored sequence.
list1 = [1, 2, 3]
mirror = list1 + list1[::-1]
print(mirror)

[1, 2, 3, 3, 2, 1]

In [6]:
# --- 6: Sort a list in-place (descending)
# .sort modifies the list itself. reverse=True gives descending order.
list5 = [1, 10, 5, 3, 9, 2]
list5.sort(reverse=True)
print(list5)

In [8]:
list5 = [1, 10, 5, 3, 9, 2]
list5.sort()
list5.sort(reverse = True)

In [9]:
# --- 8: Tic-tac-toe board update
# Modify a specific cell (row 2, column 2 using 0-based indices).
tic_tac_toe = [
    ['X', 'O', 'O'],
    ['O', 'X', 'O'],
    ['X', 'O', ' ']
]
tic_tac_toe[2][2] = 'X'
print(tic_tac_toe)

In [10]:
# --- 9: Get length of a specific string element in a list
# len(fruits[2]) returns length of "cherry".
fruits = ["apple", "banana", "cherry", "orange"]
print(len(fruits[2]))

6

In [36]:
a = [22,4,67,98,34]
print(min(a))
print(max(a))

c = a[4]     # first define c
a[1] = c     # now assignment is valid
print(a)

4
98
[22, 34, 67, 98, 34]

In [12]:
# --- 12: Swap min and max elements by index
# Find indices of max and min values, then swap values at those indices.
a = [22, 4, 67, 98, 34]
max_index = a.index(max(a))
min_index = a.index(min(a))
a[max_index], a[min_index] = a[min_index], a[max_index]
print(a)

[22, 98, 67, 4, 34]

In [13]:
# --- 13: Get indices of max and min, then delete by index
# Print indices of max/min, then remove specific positions using del.
a = [22, 4, 67, 98, 34]
max_index = a.index(max(a))
min_index = a.index(min(a))
print(max_index)
print(min_index)
del a[3]  # delete element at index 3 (fourth element)
del a[1]  # delete element at index 1 (second element)
print(a)

3
1
[22, 67, 34]

In [14]:
# --- 14: Remove actual min and max values (by value)
# .remove(value) deletes the first occurrence of the given value.
a = [22, 4, 67, 98, 34]
a.remove(max(a))
a.remove(min(a))
print(a)

[22, 67, 34]

In [16]:
# --- 15: Multiple assignments and prints
# Unpack three strings into variables and print them.
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [17]:
# --- 16: Assign same value to multiple variables
# x = y = z assigns the same object/value to all three variables.
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
# --- 17: Unpack list into variables
# Assign list elements to separate variables in one line.
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [19]:
# --- 18: Print multiple variables separated by spaces
# print(a, b, c) automatically inserts spaces between values.
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [20]:
# --- 19: Concatenate strings using +
# Using + joins strings without extra spaces — include them if needed.
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [21]:
# --- 20: More unpacking examples (local language examples)
x, y, z = "mandarin", "alma", "limon"
print(x)
print(y)
print(z)

mandarin
alma
limon

In [22]:
x = y = z = "mandarin"
print(x)
print(y)
print(z)

mandarin
mandarin
mandarin

In [23]:
# --- 21: Unpack Azerbaijani fruit list
meyve = ["alma", "armud", "banan"]
x, y, z = meyve
print(x)
print(y)
print(z)

alma
armud
banan

In [24]:
# --- 22: Printing and concatenating Azerbaijani strings
x = "python"
y = "cox"
z = "eladi"
print(x, y, z)

python cox eladi

In [25]:
x = "python "
y = "cox "
z = "eladi"
print(x + y + z)

python cox eladi

In [26]:
# --- 23: Mixing types in print (int and str)
# print can output different types separated by commas.
x = 5
y = "John"
print(x, y)

5 John

In [37]:
# --- 24: Function using outer (global) variable
# Define func() that uses variable x from outer scope, then call it.
x = "mohtesem"
def func():
    print("python " + x + "dir")

func()  # call the function

In [27]:
# --- 25: Another function example using global x implicitly
x = "awesome"
def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [28]:
# --- 26: Repeated function examples (all valid)
x = "mohtesem"
def myfunc():
    print("python " + x + "dir")

myfunc()
myfunc()  # calling twice is allowed

python mohtesemdir

In [29]:
# --- 27: Using global keyword to modify external variable
# The function sets the global variable x to a new value.
x = "ela"
def myfunc():
    global x
    x = "mohtesem"

myfunc()
print("python " + x + "dir")  # prints "python mohtesemdir"

python mohtesemdir
python mohtesemdir

In [30]:
x = "ela"
def myfunc():
    global x
    x = "mohtesem"

myfunc()

print("python " + x + "dir")

python mohtesemdir

In [31]:
# --- 28: Looping through a list and printing a message for each item
meyve = ["alma", "heyva", "nar"]
for i in meyve:
    print("men bu meyveni sevirem", i)

men bu meyveni sevirem alma
men bu meyveni sevirem heyva
men bu meyveni sevirem nar

In [32]:
# --- 29: List comprehension to create a doubled list
# Creates new list 'b' where each element is doubled from 'a'.
a = [1, 3, 5, 7, 9, 11, 13]
b = [i * 2 for i in a]
print(b)

[1, 3, 5, 7, 9, 11, 13]

In [33]:
a = [1, 3, 5, 7, 9, 11, 13]
b = []
n = len(a)
for i in range(-1, -n-1, -1):
    b.append(a[i])
print(b)

[13, 11, 9, 7, 5, 3, 1]

In [34]:
sentence = ("python is fun")
sentence.split(" ")

['python', 'is', 'fun']